#background_1 {
  background-image: url('/section_1_bg.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  .MuiContainer-root{
    display: grid;
  }
  #home_title_container{
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
  }
  #home_device_image_container{
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    img {
      max-height: calc(100vh - 200px);
      max-width: 50vw;
    }
  }
  #kisskiss_card{
    text-align: center;
    z-index: 100;
    margin-top: -75px;
    padding: 0 60px;
    height: 250px;
    width: 700px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    img{
      width: 120px;
      margin-top: 12px;
    }
    h4 {
      margin: 10px
    }
    .btn-container{
      margin-top: 50px
    }
  }
}
#background_2 {
  background-image: url('/section_2_bg.webp');
  background-size: cover;
  background-position: bottom center;
  min-height: 876px;
  padding-top: 200px;
  #grade_section{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    .grade-visual{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 40px;
      font-weight: 700;
      min-width: 165px;
      big{
        font-size: 2rem;
      }
      img {
        height: 40px;
        width: 40px;
        margin-right: 15px;
      }
    }
  }
  .score-icons{
    flex-flow: row wrap;
    width: 100%;
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
    .score-icon-grp{
      width: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 100px;
      }
    }
  }
}
#background_3 {
  background-image: url('/section_3_bg.webp');
  background-size: cover;
  padding-top: 50px;
  background-position: center;
  // min-height: 1571px;
  h2{
    max-width: 600px;
    margin-top: 150px;
    margin-bottom: 80px;
    &:first-child {
      margin-top: 30px;
    }
  }
  #product_list_pictures{
    .MuiCard-root{
      margin: 20px;
      width: 140px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        height: 120px;
      }
    }
  }
  #partner_pictures{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    a > img{
      margin: 30px;
      height: 4em
    }
    a:nth-child(2) > img{
      height: 2em
    }
    a:nth-child(4) > img{
      height: 2.2em;
    }
  }

  #media_section {
    padding-top: 30px;
    padding-bottom: 130px;
    text-align: center;
    .main-picture {
      width: 100%;
      img, .iframe-container{
        cursor: pointer;
        max-width: 700px;
        width: 100%;
        height: auto;
      }
      .iframe-container {
        margin: auto;
        position: relative;
        width: 100%;
        height: 50vh;
        max-height: 400px;
        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .small-pictures {
      margin: auto;
      max-width: 700px;
      margin-top: 20px;
      a {
        margin: 0 20px;
      }
      img{
        height: 2.5rem
      }
    }
  }
}

@media only screen and (max-width: 959px){
  #background_1 {
    #home_title_container{
      height: calc(100vh - 180px);
    }
    #kisskiss_card{
      margin-top: 0px;
    }
  }
  #background_2 {
    padding-top: 20px;
    min-height: 776px;
    .score-icons{
      .score-icon-grp{
        width: 100px;
        img{
          width: 70px;
        }
      }
    }
  }
}
