.three-dots {
  text-align: center;
  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $warning-color;
    display: inline-block;
    margin: 2rem 12px;
    &:first-child {
      background-color: $success-color;
    }

    &:last-child {
      background-color: $danger-color;
    }
  }
}
