.back-icon{
  color: $primary-color;
  font-size: 20px;
  margin: 30px
}

.app {
 &-btn {
  width: 45%;
  max-width: 160px;
  color: #fff;
  margin: 10px 30px 10px 0;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  & > p{
    font-family: "Lucida Grande", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
  }
  &.blu {
   background-color: #101010;
   transition: background-color 0.25s linear;
   &:hover {
    background-color: #454545;
   }
  }
  svg {
   width: 20%;
   text-align: center;
   font-size: 30px;
   height: 30px;
  }
  .big-txt {
   font-size: 17px;
   text-transform: capitalize;
  }
 }
}
