.cookier-banner{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  margin: 15px;
  z-index: 100;
  background-color: #FFF;
  border: 1px solid $light-grey-color;
  padding: 2rem;
}

.cookies-button-group{
  display: flex;
  justify-content: space-around;
  button{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 959px){
  .cookier-banner{
    width: 50%;
  }
}

@media only screen and (max-width: 601px){
  .cookier-banner{
    width: calc(100% - 30px);
  }
}
