.cookier-banner{
  position: fixed;
  top: 15px;
  right: 15px;
  width: 30%;
  z-index: 10;
  background-color: #FFF;
  border: 1px solid $light-grey-color;
  padding: 2rem;
}

.cookies-button-group{
  display: flex;
  justify-content: space-around;
  button{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 959px){
  .cookier-banner{
    width: 50%;
  }
}

@media only screen and (max-width: 601px){
  .cookier-banner{
    width: 100%;
  }
}
