.cookier-banner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(250, 250, 250, 0.7);
  padding: 2rem;
}
.cookies-button-group{
  display: flex;
  justify-content: flex-end;
  button{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
