.input-field{
  text-align: center;
  color: #111111;
  & > .prefix-icon {
    position: absolute;
  }
  & > .field > div{
    min-width: 30%;
  }
}

.field-icon{
  margin: 8px 12px;
  font-size: 1.8rem;
  color: $primary-color;
}
