.app-background {
  background-color: #f4f4f4;
  height: 100vh;
}

.app-background-color {
  background-color: #f4f4f4;
}

.background-white{
  background-color: white;
}

body{
  background-color: #f4f4f4;
}
