.app-background {
  background-color: #f4f4f4;
  height: 100vh;
}

.app-background-color {
  background-color: #f4f4f4;
}

.background-white{
  background-color: white;
}

.background-success{
  background-color: $success-color;
}

.background-warning{
  background-color: $warning-color;
}

.background-danger{
  background-color: $danger-color;
}

body{
  background-color: #f4f4f4;
}
