.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.space-around{
  display: flex;
  justify-content: space-around;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.align-items-center{
  display: flex;
  align-items: center;
}

.position-relative{
  position: relative;
}

.margin-auto{
  margin: auto;
}

.margin-20{
  margin: 20px;
}

.padding-auto{
  margin: auto;
}

.padding-top-20{
  padding-top: 20px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.full-width{
  width: 100%
}

.height-100vh{
  height: 100vh;
}
