body {
  font-family: 'Nunito';
}

h1 {font-size: 2.0rem; line-height: 1.5; margin-bottom: 0}
h2 {font-size: 2.0rem}
h3 {font-size: 1.6rem}
h4 {font-size: 1.15rem}
h5 {font-size: 1.1rem}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito';
  font-weight: 600;
  color: $secondary-color;
}

.text-center {
  text-align: center;
}

.text-right{
  text-align: right;
}

.capitalize {
  text-transform: capitalize;
}

.text-20{
  font-size: 1.3rem;
}

.white-text{
  color: white;
}

.text-primary{
  color: $primary-color;
}

.text-secondary{
  color: $secondary-color;
}

.text-success{
  color: $success-color;
}

.text-warning{
  color: $warning-color;
}

.text-danger{
  color: $danger-color;
}

.text-white{
  color: #FFF;
}

.text-bold{
  font-weight: bold;
}

.highlighted-text {
  padding-left: 4px;
  margin-left: -4px;
  padding-right: 4px;
  margin-right: -4px;
  color: $success-color;
  // background-color: $success-color;
  // color: #FFFFFF;
}
