$primary-color: #2FA4C6 !default;
$secondary-color: #0A4350 !default;
$success-color: #7CBE69 !default;
$danger-color: #D85D6E !default;
$warning-color: #F1B430 !default;
$title-color: #0A4350 !default;
$info-color: #2FA4C6 !default;
$grey-color: #9b9999 !default;
$light-grey-color: #DDDCDC !default;
@import  './variables/index';
@import './pages/index';
@import './utilities/index';
@import './components/index';
